<div class="main-app-grid">
  <div class="main-header">
    header
  </div>
  <div class="main-content">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th>
            <button (click)="addRow()" type="button" class="btn btn-success">+</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of contacts; let i = index">
          <th scope="row">
            <input [(ngModel)]="row.ID" type="text" class="form-control" placeholder="ID">
          </th>
          <td><input [(ngModel)]="row.first_name" type="text" class="form-control" placeholder="First Name"></td>
          <td><input [(ngModel)]="row.last_name" type="text" class="form-control" placeholder="Last Name"></td>
          <td><input [(ngModel)]="row.email" type="text" class="form-control" placeholder="e-mail"></td>
          <td>
            <div class="btn-group">
              <button (click)="save(row)" type="button" class="btn btn-success">Save</button>
              <button (click)="delete(i)" type="button" class="btn btn-danger">X</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="main-footer">
    footer
  </div>
</div>